name: Flutter iOS Build (IPA)

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          # cache: true

      - name: Install dependencies
        run: flutter pub get

      - name: Substitute Team ID in Export Options Plist
        run: |
          sed -i '' 's/${IOS_BUILD_TEAM_ID}/${{ secrets.IOS_BUILD_TEAM_ID }}/g' ios/GithubActionsExportOptions.plist

      - name: Create keychain
        uses: apple-actions/import-codesign-certs@v3
        with:
          keychain-password: ${{ secrets.IOS_GITHUB_KEYCHAIN_PASSWORD }}
          p12-file-base64: ${{ secrets.IOS_BUILD_CERTIFICATE_BASE64 }}
          p12-password: ${{ secrets.IOS_BUILD_CERTIFICATE_PASSWORD }}

      - name: Install provisioning profile
        run: |
          mkdir -p ~/Library/MobileDevice/Provisioning\ Profiles
          echo "${{ secrets.IOS_MOBILE_PROVISIONING_PROFILE_BASE64 }}" | base64 --decode > ~/Library/MobileDevice/Provisioning\ Profiles/github_actions.mobileprovision

      - name: Build IPA
        run: flutter build ipa --export-options-plist=ios/GithubActionsExportOptions.plist
 
      - name: Flutter Clean
        run: flutter clean

      - name: Upload IPA Artifact
        uses: actions/upload-artifact@v4
        with:
          name: PterodactylApp-iOS-IPA
          path: build/ios/ipa/*.ipa