name: Flutter iOS Build (IPA)

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Substitute Team ID in Export Options Plist
        run: |
          sed -i '' 's/${TEAM_ID}/${{ secrets.TEAM_ID }}/g' ios/GithubActionsExportOptions.plist

      - uses: cedvdb/action-flutter-build-ios@v1
        with:
          build-cmd: flutter build ipa --export-options-plist=ios/GithubActionsExportOptions.plist
          certificate-base64: ${{ secrets.IOS_BUILD_CERTIFICATE_BASE64 }}
          certificate-password: ${{ secrets.IOS_BUILD_CERTIFICATE_PASSWORD }}
          provisioning-profile-base64: ${{ secrets.IOS_MOBILE_PROVISIONING_PROFILE_BASE64 }}
          keychain-password: ${{ secrets.IOS_GITHUB_KEYCHAIN_PASSWORD }}

      - name: Flutter Clean
        run: flutter clean

      - name: Upload IPA Artifact
        uses: actions/upload-artifact@v4
        with:
          name: PterodactylApp-iOS-IPA
          path: build/ios/ipa/*.ipa